/* ProfilePage.css */

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f9ed; /* Light grey background */
    color: #333; /* Dark text for readability */
    font-family: 'Arial', sans-serif; /* Default font */
}

h1 {
    color: #333; /* Dark grey text */
    margin-bottom: 20px;
}

p1 {
    color: #666; /* Medium grey text */
}

.user-info {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for the info box */
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Adjust width as needed */
}

.user-info p {
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
}

strong {
    color: #666; /* Medium grey text */
    font-weight: bold;
}

button {
    background-color: #2fbf45; /* Blue background for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #29ac3d; /* Slightly darker blue on hover */
}

.logout-button-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8; /* You can change the color as needed */
}

.logout-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
